<div class="container">
  <div class="btn-container">
    <button routerLink="/productos" class="btn-volver">Volver</button>
  </div>
  <div class="product-container">
    <h1>{{producto.nombre}}</h1>
      <img [src]="producto.imagen" alt="imagen">
      <p>{{producto.descripcion}}</p>
      <p>{{producto.precio}} USD</p>
      <button (click)="createPaymentPreference()">Comprar</button>
      @if(verificador){
        <button (click)="type='eliminar'; togglePopUp()">Eliminar</button>
        <button (click)="type='editar'; togglePopUp()">Editar</button>
      }
  </div>
</div>
<app-pop-up-warning [type]="type" (confirm)="confirmAction($event)"></app-pop-up-warning>