.navbar-home{
    width: 99vw;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    list-style: none;
    align-items: center; 
    border-radius: 30px;
    background-color: #f8f9fa; 
    gap: 20px;
    padding: 5px;
}

.navbar-home div a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    width: 20px;
    height: 20px;
}

.navbar-home div a:hover {
    color: #007bff; 
}
.social-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.social-icon-link{
    width: 20px;
    height: 20px;
}

.social-icon{
    width: 20px;
    height: 20px;
    object-fit: cover;
}