<div class="product-general">
  <div class="titulo-filtros">
      <h1>Productos</h1>

      <select #ordenSelect (change)="ordenarPorPrecio(ordenSelect.value)">
        <option value="">Selecciona una opción</option>
        <option value="asc">Menor a mayor precio</option>
        <option value="desc">Mayor a menor precio</option>
    </select>
  </div>
<div class="filtros">
  <input type="number" #precioMin placeholder="Precio mínimo" min="0">
  <input type="number" #precioMax placeholder="Precio máximo" min="0">
  <button (click)="verificarCamposVacios(precioMin.value ? +precioMin.value : 0, precioMax.value ? +precioMax.value : 0)">
    Filtrar por precio
  </button>
</div>

  <div class="grid-product">


    @for(producto of listaProductos; track producto.id){
    <div class="producto">
      <img [src]="producto.imagen" class="imagen-producto" alt="imagen">
      <h2>{{ producto.nombre }}</h2>
      <p>${{ producto.precio }}</p>
      <button routerLink="/detalles/{{producto.id}}" class="btn-ver-detalles">ver detalles</button>
    </div>
    }
  </div>

</div>

