.container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #7a7a7a6b;
  display: none;
  z-index: 1000;
}
.profile-container {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.open{
  display: block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
}

.header h1 {
  font-size: 18px;
  font-weight: bold;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
}
.close-configuration{
  display: none;
}
.user-info h2 {
  font-size: 20px;
  font-weight: bold;
}

.user-info p {
  font-size: 14px;
  color: #888;
}

.edit-btn {
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}

.options {
  margin-top: 20px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.icon {
  font-size: 18px;
  color: #888;
  margin-right: 10px;
}

.modify-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: block; 
  margin-top: 10px; 
}
.delete-btn {
  background: none;
  border: none;
  color: #ff1100;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: block; 
  margin-top: 10px; 
}

.profile-container.open {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.open-configuration{
  display: none;
}
.password-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.password-form input{
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}
.password-form button{
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.password-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}