<div class="container">
  <div class="sobre-nosotros">
    <a routerLink="/home" class="flecha-atras">←</a>
    <h2>Sobre Nosotros</h2>

  <div class="perfil">
    <img src="foto-perfil.jpg" alt="Rominita marangoni" class="imagen-perfil">
    <h3>Romina marangoni</h3>
    <p class="rol">Influencer de Fitness</p>
  </div>

  <p class="descripcion">
    Soy una entrenadora profesional e influencer con 5 años de experiencia en la industria del fitness.
    Tengo una pasión por ayudar a las personas a convertirse en la mejor versión de sí mismas.
  </p>

  <div class="seccion">
    <h4>Logros</h4>
    <ul>
      <li><span class="icono">✔️</span> He entrenado +100 clientes</li>
    </ul>
  </div>

  <div class="seccion">
    <h4>Mi Filosofía</h4>
    <p>
      Estoy aquí para ayudarte a construir un cuerpo más fuerte y un estilo de vida más saludable. Mi objetivo es hacer
      que el fitness sea divertido y accesible para todos. Creo que pequeños cambios pueden llevar a grandes resultados.
    </p>
  </div>

  <div class="seccion">
    <h4>Redes Sociales</h4>
    <p><span class="icono">📷</span> Instagram: <a href="https://instagram.com">RominaFitness</a></p>
  </div>

</div>
</div>
