<body>

  <div class="contenedor">
    <a routerLink="/home" class="volver">←</a>
    <h1>Términos y Condiciones</h1>

    <section>
      <h2>1. Introducción</h2>
      <p>Estos Términos y Condiciones rigen el uso de nuestro sitio web. Al acceder a nuestro sitio, aceptas cumplir con estos términos en su totalidad. Si no estás de acuerdo con alguna parte de estos términos, no deberías usar nuestro sitio.</p>
    </section>

    <section>
      <h2>2. Uso del Sitio Web</h2>
      <p>El contenido de este sitio web es solo para tu información general y uso personal. Nos reservamos el derecho de modificar o actualizar el contenido en cualquier momento sin previo aviso. El uso no autorizado de este sitio web puede dar lugar a una reclamación por daños y/o ser un delito.</p>
    </section>

    <section>
      <h2>3. Responsabilidad del Usuario</h2>
      <p>Como usuario, te comprometes a utilizar el sitio web de manera responsable y a no realizar actividades que puedan dañar, inutilizar o sobrecargar nuestros servicios. Está prohibido el uso del sitio para cualquier actividad ilegal o fraudulenta.</p>
    </section>

    <section>
      <h2>4. Propiedad Intelectual</h2>
      <p>Todo el contenido, diseño, textos, gráficos, y logotipos en este sitio son propiedad nuestra o de nuestros licenciantes. No está permitido copiar, distribuir, modificar o reutilizar nuestro contenido sin nuestro permiso explícito por escrito.</p>
    </section>

    <section>
      <h2>5. Enlaces a Otros Sitios Web</h2>
      <p>Nuestro sitio puede contener enlaces a otros sitios web de interés. No tenemos control sobre esos sitios y no somos responsables de su contenido ni de la protección de la información que proporciones al visitarlos. Recomendamos leer las políticas de privacidad de esos sitios.</p>
    </section>

    <section>
      <h2>6. Modificaciones a los Términos</h2>
      <p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones entrarán en vigor en el momento en que se publiquen en el sitio web. Es tu responsabilidad revisar estos términos periódicamente.</p>
    </section>

    <section>
      <h2>7. Limitación de Responsabilidad</h2>
      <p>No seremos responsables por daños directos, indirectos o incidentales que puedan surgir del uso o la imposibilidad de uso de nuestro sitio. Nuestro sitio se proporciona "tal cual", sin garantías de ningún tipo.</p>
    </section>

    <section>
      <h2>8. Ley Aplicable</h2>
      <p>Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes del país en el que operamos. Cualquier disputa que surja en relación con estos términos estará sujeta a la jurisdicción de los tribunales competentes.</p>
    </section>
  </div>

</body>
