<button routerLink="/rutinas" class="btn-volver">Volver</button>
<div class="product-container">
  <h1>{{rutina.nombre}}</h1>
    <img [src]="rutina.imagen" alt="imagen">
    <p>{{rutina.descripcion}}</p>
    <p>{{rutina.precio}} USD</p>
    @if(!comprado){
      <button (click)="createPaymentPreference()">Comprar</button>
    }
    
    @if(verificador){
      <button (click)="type='eliminar'; togglePopUp()">Eliminar</button>
      <button (click)="type='editar'; togglePopUp()">Editar</button>
    }
    
</div>
<app-pop-up-warning [type]="type" (confirm)="confirmAction($event)"></app-pop-up-warning>