<div class="hero-home">
    <div class="hero-home-text">
        <p>La mejor tienda de productos y rutinas de fitness del pais</p>
        <div class="social-icons">
            <a href="https://facebook.com">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="Facebook" width="30" height="30" style="filter: brightness(0) invert(1);" />
            </a>
            <a href="https://instagram.com">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Instagram.svg/2048px-Instagram.svg.png" alt="Instagram" width="30" height="30" style="filter: brightness(0) invert(1);" />
            </a>
        </div>
    </div>
    <div class="hero-home-logo">
        <h1>RMF</h1>
    </div>
    <div class="hero-home-content">
        <div class="hero-home-search">
            <div class="hero-home-search-text">
                <h2>Bienvenido a GymFit</h2>
                <p>Tu gimnasio en línea</p>
            </div>
            <div class="hero-home-search-input">
                <input type="text" placeholder="find products">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <button>Sign up</button>
                    <button>Search</button>
                </div>
            </div>
        </div>
        <div class="hero-home-whatsapp">
            <button>Whatsapp</button>
        </div>
    </div>
</div>
