<div class="hero-home">
    <div class="hero-home-header">
        <div class="hero-home-logo">
            <h1>RMF</h1>
        </div>   
        <div class="hero-home-search-input">
            <input type="text" placeholder="find products">
            <div style="display: flex; flex-direction: row; gap: 10px;">
                <button>Register</button>
                <button>Buscar</button>
            </div>
        </div>
    </div>
    <div class="hero-home-content">
        <div class="hero-home-search">
            <div class="hero-home-search-text">
                <h2>Bienvenido a GymFit</h2>
                <p>Tu gimnasio en línea</p>
            </div>
        </div>
    </div>
</div>
