<div [class]="isHome ? 'grid-productos-home' : 'grid-productos'">
  @for (producto of listaProductos.slice(0,5); track producto.id) {
    <div [class]="isHome ? 'producto-home' : 'producto'">
      <h3 class="titulo-producto">{{producto.nombre}}</h3>
      <p class="precio-producto">{{producto.precio}}</p>
      <p class="descripcion-producto">{{producto.descripcion}}</p>
      <img [src]="producto.imagen" class="imagen-producto" alt="imagen">
      <button routerLink="/detalles/{{producto.id}}" class="btn-ver-detalles">Ver detalles</button>
    </div>
  }
</div>